<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-8 offset-md-2">
        <h2 class="agregar-gasto my-3">Buscar vuelos</h2>
        <div class= "form-group" >
          <%= form_for :flight, method: :get do |f|%>
            <%= f.label :date %>:
            <%= f.date_field :outboundpartialdate, class:"form-control" %><br />
            <%= f.label :origin %>:
            <%= f.collection_select :originplace, @places, :id, :place_id, class:"form-control form-control-lg"%><br />
            <%= f.label :destination %>:
            <%= f.collection_select :destinationplace, @places, :id, :place_id, class:"form-control form-control-lg"%><br />
            <%= f.submit "Buscar", class: "btn btn-success" %>
          <% end %>
        </div>
    </div>
  </div>
  <div class="row">
    <% @flights.Quotes.each do |flight| %>
      <%= flight %>
    <% end %>
  </div>
</div>
      
<%=console%>
      